# docker-compose.yml

version: "3.9"

services:
  db:
    image: postgres:16
    container_name: portfolio_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portfolio_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

  web:
    build: .
    container_name: portfolio_web
    restart: unless-stopped
    depends_on:
      - db
    environment:
      NODE_ENV: production
      # match your DATABASE_URL with your database service name, user, password, host, port, and database name
      DATABASE_URL: postgres://postgres:postgres@db:5432/portfolio_db
      NEXTAUTH_SECRET: "dd88a4663489485272ec638830c6a352"
      JWT_SECRET: "dd88a4663489485272ec638830c6a352"
      PROFILE_PHOTO_DIR: /app/public/profile_photos
    ports:
      - "80:3000"
    networks:
      - app-net

networks:
  app-net:

volumes:
  postgres_data:
